<h1>Photogur</h1>

<%= link_to("New Picture", "/pictures/new") %>
<!-- <%= link_to("Create New User", "/users/new") %> -->
<!-- <%= link_to("Sign In", "/sessions/new") %> -->
<!-- <%= link_to("Sign Out", root_path) %> -->

<!-- <% @pictures.each do |picture| %>
  <p><%= picture.title %>, <%= picture.artist %></p>
  <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
<% end %> -->

<br>
<br>
<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>

<h2>All your pictures (<%= current_user.pictures.length %>)</h2>
<ul>
  <% current_user.pictures.each do |picture| %>
    <li>Title: <%= link_to(picture.title, picture_path(picture)) %></li>
    <li>Artist: <%= picture.artist %></li>
    <p><%= image_tag(picture.url) %></p>
  <% end %>
</ul>
