<h1>Some pictures (<%= @pictures.length %>)</h1>

<%= link_to("New Picture", "/pictures/new") %>
<%= link_to("Create New User", "/users/new") %>
<%= link_to("Sign In", "/sessions/new") %>


<!-- <% @pictures.each do |picture| %>
  <p><%= picture.title %>, <%= picture.artist %></p>
  <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
<% end %> -->

<br>
<br>
<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>

<h1>Most recent pictures</h1>
<ul>
  <% @most_recent_pictures.each do |picture| %>
    <li>Title: <%= picture.title %></li>
    <li>Artist: <%= picture.artist %></li>
    <p><%= image_tag(picture.url) %></p>
  <% end %>
</ul>
