<h2>Add a picture</h2>

<%= link_to("Back to Pictures", "/pictures") %>

<% if @picture.errors.any? %>
  <h2>The following error(s) occurred:</h2>
  <ul>
    <% @picture.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<%= form_for(@picture) do |f| %>

  <p>
    <%= f.label :artist %>
    <br>
    <%= f.text_field :artist %>
  </p>

  <p>
    <%= f.label :title %>
    <br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :url %>
    <br>
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.submit "Save" %>
  </p>

<% end %>
