<h1>One picture</h1>

<%= link_to("Back to Pictures", "/pictures") %> | <%= link_to("Edit Pictures", "/pictures/#{@picture.id}/edit") %>

<p><%= @picture.title %>, <%= @picture.artist %></p>
<%= image_tag(@picture.url) %>
